.exit-button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2E2E2E, #1B1B1B);
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-border-color: red;
    -fx-border-width: 6px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}
.exit-button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #1B1B1B, #2E2E2E);
    -fx-text-fill: white;
    -fx-border-color: darkred;
    -fx-effect: dropshadow(one-pass-box, rgba(255, 0, 0, 0.8), 10, 0, 0, 0);
}
.online-button {
    -fx-background-color: #1E8228;
    -fx-background-radius: 100px 100px 30px 30px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 54.0px;
    -fx-font-weight: bold;
}
.easy-button {
    -fx-background-color: #1E8228;
    -fx-background-radius: 100px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 54.0px;
    -fx-font-weight: bold;
}
.offline-button {
    -fx-background-color: #9C0B02;
    -fx-background-radius: 100px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 54.0px;
    -fx-font-weight: bold;
}
.single-button {
    -fx-background-color: #0012AF;
    -fx-background-radius: 100px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 54.0px;
    -fx-font-weight: bold;
}
.records-button {
    -fx-background-color: #0012AF;
    -fx-background-radius: 30px 30px 100px 100px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 54.0px;
    -fx-font-weight: bold;
}
.background-style {
    -fx-background-image: url("assets/HomeBackground.png");
    -fx-background-size: cover;
}
.back-button {
    -fx-box-sizing: border-box;
    -fx-position: absolute;
    -fx-width: 362px;
    -fx-height: 151px;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: #0012AF;
    -fx-border-radius: 100px;
}
.invite-button{
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-border-radius: 75px;
    -fx-border-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-background-radius: 75px;
    -fx-font-size: 30.0px;
    -fx-font-weight: bold;
}
.online-button:hover {
    -fx-background-color: #2ECC71;
    -fx-text-fill: white;
}
.easy-button:hover {
    -fx-background-color: #2ECC71;
    -fx-text-fill: white;
}
.offline-button:hover {
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
}
.single-button:hover {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
}
.records-button:hover {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
}
.startbtn {
    -fx-background-color: #1E8228;
    -fx-background-radius: 100px 100px 30px 30px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
}
.quitbtn  {
    -fx-background-color: #9C0B02;
    -fx-background-radius: 30px 30px 100px 100px;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
}
.startbtn:hover {
    -fx-background-color: #2ECC71;
    -fx-text-fill: white;
}
.quitbtn:hover {
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
}

/* General styles for labels */
.playernames {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";

}

.gameslabels {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.neon-button {
    -fx-background-color: transparent;
    -fx-border-color: #00A8A8;
    -fx-border-width: 3;
    -fx-border-radius: 25;
    -fx-text-fill: #00FFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 20;
    -fx-pref-width: 180;
    -fx-pref-height: 180;
}

.playerOne-placeholder {
    -fx-background-color: rgb(128, 128, 128);
    -fx-border-color: grey;
    -fx-border-width: 3;
    -fx-border-radius: 25;
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.5), 10, 0.5, 0, 0);
    -fx-pref-width: 135;
    -fx-pref-height: 135;
    -fx-alignment: center; /* Center the text */
    -fx-font-family: "Comic Sans MS";

}

/* Styles for player 2 placeholders */
.playerTwo-placeholder {
    -fx-background-color: rgb(128, 128, 128);
    -fx-border-color: grey;
    -fx-border-width: 3;
    -fx-border-radius: 25;
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 148, 255, 0.5), 10, 0.5, 0, 0); /* Blue drop shadow */
    -fx-pref-width: 135;
    -fx-pref-height: 135;
    -fx-alignment: center;
    -fx-font-family: "Comic Sans MS";

}

/* Styles for draw placeholder */
.draw-placeholder {
    -fx-background-color: transparent;
    -fx-border-color: rgba(128, 128, 128, 0.65);
    -fx-border-width: 3;
    -fx-border-radius: 75;
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-pref-width: 160;
    -fx-pref-height: 50;
    -fx-font-family: "Comic Sans MS";
    -fx-alignment: center;
    -fx-font-family: "Comic Sans MS";

}

.neon-button:hover {
    -fx-background-color: rgba(0, 255, 255, 0.1);
}

/* Styles for exit button */
.exit-button {
    -fx-background-color: white;
    -fx-background-radius: 75px;
    -fx-border-radius: 75px;
    -fx-border-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #9C0B02;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}


/* Hover effect for exit button */
.exit-button:hover {
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

/* Styles for restart button */
.restart-button {
    -fx-background-color: #0012AF;
    -fx-background-radius: 75px;
    -fx-border-radius: 75px;
    -fx-border-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

/* Hover effect for restart button */
.restart-button:hover {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;

}

/* Styles for record button */
.record-button {
    -fx-background-color: red;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-min-width: 100px; /* Ensures the button is a circle */
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-alignment: center;
}

.record-button-recording {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: RED;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-min-width: 100px; /* Ensures the button is a circle */
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-alignment: center;
}

/* Hover effect for record button */
.record-button:hover {
    -fx-background-color: darkred;
    -fx-text-fill: white;
}


.name-text-field {
    -fx-font-size: 60px;
    -fx-background-radius: 30px;
    -fx-padding: 0 15px;
    -fx-pref-width: 900;
    -fx-arc-height: 65;
    -fx-font-family: "Comic Sans MS";
    -fx-alignment: center;
}

.playnow-button {
    -fx-background-color: rgba(0, 255, 0, 0.2);
    -fx-border-color: rgba(0, 128, 0, 0.65);
    -fx-border-width: 3;
    -fx-border-radius: 75;
    -fx-background-radius: 75;
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-pref-width: 350;
    -fx-pref-height: 50;
    -fx-effect: dropshadow(gaussian, rgb(0, 103, 0), 10, 0.5, 0, 0);
    -fx-alignment: center; /* Center the text */
    -fx-font-family: "Comic Sans MS";
}

.playnow-button:hover {
    -fx-background-color: rgba(0, 148, 0, 0.6);
    -fx-border-color: rgba(0, 148, 0, 0.8);
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.button-x-winner {
    -fx-background-color: rgba(240, 128, 128, 0.31);
}

.button-o-winner {
    -fx-background-color: rgba(173, 216, 230, 0.36);
}

/* Winning button styles */
.winning-button-x {
    -fx-background-color: rgba(255, 0, 0, 0.15);
    -fx-border-color: rgba(255, 0, 0, 0.25);
    -fx-text-fill: rgba(255, 0, 0, 0.33);
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.30), 5, 0.3, 0, 0);
}

.winning-button-o {
    -fx-background-color: rgba(0, 0, 255, 0.15);
    -fx-border-color: rgba(0, 0, 255, 0.25);
    -fx-text-fill: rgba(0, 0, 255, 0.33);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.30), 5, 0.3, 0, 0);
}
.playrecording-button {
    -fx-background-color: #1E8228;
    -fx-background-radius: 75px;
    -fx-border-radius: 75px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-size: 25.0px;
    -fx-font-weight: bold;
}
.playrecording-button:hover {
    -fx-background-color: #2ECC71;
    -fx-text-fill: white;
}
.deleterecording-button {
    -fx-background-color: #9C0B02;
    -fx-background-radius: 75px;
    -fx-border-radius: 75px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-size: 25.0px;
    -fx-font-weight: bold;
}
.deleterecording-button:hover {
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
}
.signup-button {
    -fx-background-color: transparent;
    -fx-background-radius: 75px;
    -fx-border-color: white;
    -fx-border-radius: 75px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-size: 33.0px;
    -fx-font-weight: bold;
}
.signup-button:hover {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}
.login-button {
    -fx-background-color: #1E8228;
    -fx-background-radius: 75px;
    -fx-border-radius: 75px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-size: 33.0px;
    -fx-font-weight: bold;
}
.login-button:hover {
    -fx-background-color: #2ECC71;
    -fx-text-fill: white;
}
.list-view-recordings {

    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 25.0px;
    -fx-font-weight: bold;
}
.warning-label {
    -fx-font-size: 18px;
    -fx-text-alignment: CENTER;
    -fx-text-fill: red;
    -fx-font-family: "Comic Sans MS";
}

.invite-button {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-border-radius: 75px;
    -fx-border-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-background-radius: 75px;
    -fx-font-size: 30.0px;
    -fx-font-weight: bold;
}